#android
{
    top:50%;
    width: 50%;
    height: 350px;
    background-color: white;
    margin: auto;
    top: 100px;
    position: relative;
}

#head
{
    width: 150px;
    height: 70px;
    position: relative;
    border-radius: 1000px 1000px 0px 0px;
    background-color: yellowgreen;
    margin-bottom: 5px;
    left:41;
    display: flex;
}

#left_eye ,#right_eye
{
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: white;
    position: relative;
    left: 9px;
    margin: 25px;
}

#hs
{
    display: flex;
    position: relative;
    top: -360px;
    width: 122px;
    justify-content: space-between;
}

#left_hs , #right_hs
{
    width: 5px;
    height: 35px;
    border-radius: 100%;
    position: relative;
    border-radius: 45px 45px 45px 45px;
    background-color: yellowgreen;
    margin: 10px;
    left: 55px;
}

#left_hs
{
    transform: rotate(-40deg);
}

#right_hs
{
    transform: rotate(40deg);
}

#body
{
    width: 150px;
    height: 160px;
    position: relative;
    border-radius: 0px 0px 20px 20px;
    margin-bottom: 5px;
    background-color: yellowgreen;
    left: 40px;
    display: flex;
}

.hand
{
    width: 30px;
    height: 120px;
    position: relative;
    background-color: yellowgreen;
    border-radius: 45px 45px 45px 45px;
}

#left_hand 
{
    left:-35;
    transform-origin: 30% 10%;
}

#right_hand
{
    left: 125px;
    transform-origin: 70% 10%;
}

#bel
{
    width: 80px;
    height: 150px;
}

#legs
{
    width: 150px;
    height: 100px;
    position: relative;
    left: 45px;
    top: -65px;
    display: flex;
}

#left_leg ,#right_leg
{
    width: 30px;
    height: 100px;
    position: relative;
    border-radius: 45px 45px 45px 45px;
    left: 10px;
    margin: 15px;
    background-color: yellowgreen;
}